<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Olvidaste tu contraseña - Compucheck</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <form method="POST" action="/forgot_password">
    <h2>Olvidaste tu contraseña</h2>
    <p class="app-info"><strong>Compu Check</strong></p>

    <label>Email:</label>
    <input type="email" name="email" required placeholder="Ingresa tu correo">

    <div class="buttons">
      <button type="submit">Enviar enlace</button>
      <button type="button" onclick="location.href='/login'">Volver a iniciar sesión</button>
    </div>

    <!-- Mensajes flash -->
    <div class="flash-container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flash-messages">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
  </form>
</body>
</html>
